# Virtual Environments
venv/
env/
.venv/
herplate-ghana/

# Python Cache & Compiled Files
__pycache__/
*.pyc

# IDE & OS System Files
.vscode/
.idea/
.DS_Store
Thumbs.db

# Streamlit Local Secrets & Config
.streamlit/secrets.toml